.title {

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.main {
  
  justify-content: start;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 300px;
  margin-left: 300px;
  background-color: rgba(129, 236, 255, 0.3);
  font-size: 20px;
  
  
  
}



body.index{

    background: url('../images/IRL_Rice_Shower.webp') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    
}

body.about-me{

    background: url('../images/IRL_agnes_tachyon.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;


}

body.buttons{

    background: url('../images/IRL_Manhattan_cafe.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;


}

.nav{

    display: flex;
    justify-content: center;
    background-color: blueviolet;
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
  
    
}

ul {

    list-style-type: none;
}

ul li {

    float: left;
}

ul li a {

    padding: 16px 16px;
    display: inline-block;
}

a {

    font-size: 20px;
}
